<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<header th:replace="~{cabecalho :: head('Visualização de clientes')}"></header>

<body>
    <nav th:replace="~{menu :: nav}"></nav>
    <div class="container mt-3">
        <a type="button" href="clientes/criar" class="btn btn-primary">Cadastrar clientes</a>
        <h3>Visualização de clientes</h3>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Documento</th>
                    <th>Endereço</th>
                    <th>Edição</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" cliente : ${listarClientes}">
                    <td th:text="${cliente.getNome()}">Nome</td>
                    <td th:text="${cliente.getDocumento()}">Nome</td>
                    <td th:text="${cliente.getEndereco()}">Nome</td>

                    <td>
                        <a th:href="@{/clientes/{clienteId}(clienteId = ${cliente.id})}" class="btn btn-info">Detalhe</a>
                        <a th:href="@{/clientes/{clienteId}/edit(clienteId = ${cliente.id})}" class="btn btn-warning">Editar</a>
                        <a th:href="@{/clientes/{clienteId}/delete(clienteId = ${cliente.id})}" class="btn btn-danger">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>